.mainHero {
  width: 80%;
  min-height: 40vh;
  margin-top: 5rem;
  color: var(--ligth-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 54px;
}

.description {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 500px) {
  .welcome {
    font-size: 48px;
  }
  .description {
    font-size: 16px;
  }
}