.searchForm {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: var(--ligth-gray);
  border-radius: 20px;
  gap: .5rem;
  padding-left: .5rem;
  font-size: 24px;
  position: relative;
  z-index: 2;
}

.inputText {
  background: none;
  border: none;
  outline: none;
  min-width: 250px;
  font-size: 16px;
}

.buttonSubmit {
  background-color: var(--yellow);
  border: none;
  border-radius: 0 20px 20px 0;
  padding: .8rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background .5s;
}

.buttonSubmit:hover {
  background-color: var(--dark-yellow);
}

.icon {
  color: var(--yellow);  
}

.suggestionsContainer {
  position: absolute;
  background-color: var(--white);
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 10px;
  margin-top: 2px;
}
.suggestion {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  padding: .5rem;
  color: var(--dark-gray);
}

.suggestionHighlighted {
  background-color: var(--yellow);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .inputText {
    min-width: 150px;
    padding-left: .5rem;
  }

  .icon {
    display: none;
  }
}